@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.crisp {
    image-rendering: crisp-edges;
}

.fineprint {
    font-size: 50%;
}